@model Model.EF.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
   Chi tiết sản phẩm
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhTDe)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.AnhTDe)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiSanPham.TenLSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLSP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoNho.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoNho.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoXL.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoXL.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Camera.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Camera.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Case.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChatLieu.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatLieu.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChoNgoi.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChoNgoi.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiSX.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiSX.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoPhangia.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoPhangia.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hang.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hang.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeDieuHanh.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeDieuHanh.Ten)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HopSo.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HopSo.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KichThuoc.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KichThuoc.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KieuDang.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KieuDang.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTR.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTR.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MauSac.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSac.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mua.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mua.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhienBan.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhienBan.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhuKien.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhuKien.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quangduong.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quangduong.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ram.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ram.Ten)
        </dd>

    </dl>
</div>

