@model Model.EF.DangBT
@{
    ViewBag.Title = "Chi Tiet San Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AnhCT = (List<Model.EF.HinhAnh>)ViewBag.AnhCT;
}
<script src="/Assets/client/js/easyResponsiveTabs.js" type="text/javascript"></script>
<link href="/Assets/client/css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/Assets/client/css/global.css">
<script src="/Assets/client/js/slides.min.jquery.js"></script>
<script>
    $(function () {
        $('#products').slides({
            preload: true,
            preloadImage: '/assets/client/images/loading.gif',
            effect: 'slide, fade',
            crossfade: true,
            slideSpeed: 350,
            fadeSpeed: 500,
            generateNextPrev: true,
            generatePagination: false
        });
    });
</script>
<div class="content">
    <div class="content_top">
        <div class="back-links " style="width:50%">
            <p>
                <a href="/">Trang chủ</a> >> <a href="/san-pham/@Model.SanPham.LoaiSanPham.Link-@Model.SanPham.LoaiSanPham.MaLSP">@Model.SanPham.LoaiSanPham.TenLSP</a>>>
                <a href="/san-pham/@Model.SanPham.LoaiSanPham.Link/@Model.SanPham.Hang.Ten">@Model.SanPham.TenSP</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container">
                                    @foreach (var item in AnhCT.Where(x => x.AnhFull == true).OrderBy(x => x.STTANH))
                                    {

                                        <a href="#" target="_blank"><img src="@item.Link" alt=" " /></a>
                                    }
                                </div>
                                <ul class="pagination">
                                    @foreach (var item in AnhCT.Where(x => x.AnhThumbnail == true).OrderBy(x => x.STTANH))
                                    {
                                        <li><a href="#"><img src="@item.Link" alt=" " /></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2 ">                   
                    <h2>@Model.SanPham.TenSP </h2>
                    <br />
                    <div><p>@Model.Taikhoan.HovaTen</p>@Model.Taikhoan.Phone</div>
                    <div class="row-info-prd price">
                        <div><b>Giá Bán:</b> <span>@(Model.SanPham.GiaBan.HasValue ? Model.SanPham.GiaBan.Value.ToString("N0") : "Liên hệ")</span></div>                           
                     </div>                    
                    <div class="share-desc">
                        <div class="share">
                            <div class="addthis_toolbox row-info-prd social">
                                Chia sẻ trên:
                                &nbsp;
                                <a class="addthis_button_facebook" rel="nofollow" title="Facebook" href="#">
                                    <img src="/assets/client/Images/icon-share-fb-disable.png" osrc="/assets/client/Images/icon-share-fb-disable.png" usrc="/assets/client/Images/icon-share-fb.png" onmouseover="hoverx(this);" onmouseout="unhoverx(this);" />
                                </a>
                                &nbsp;
                                <a class="addthis_button_google_plusone_share" rel="nofollow" target="_blank" title="Google+" href="#">
                                    <img src="/assets/client/Images/icon-share-gg-disable.png" osrc="/assets/client/Images/icon-share-gg-disable.png" usrc="/assets/client/Images/icon-share-gg.png" onmouseover="hoverx(this);" onmouseout="unhoverx(this);" />
                                </a>
                                &nbsp;
                                <a class="addthis_button_email" rel="nofollow" target="_blank" title="Email" href="#">
                                    <img src="/assets/client/Images/icon-share-dv-disable.png" osrc="/assets/client/Images/icon-share-dv-disable.png" usrc="/assets/client/Images/icon-share-dv.png" onmouseover="hoverx(this);" onmouseout="unhoverx(this);" />
                                </a>
                                &nbsp;
                                <a class="addthis_button_pinterest_share" rel="nofollow" target="_blank" title="Pinterest" href="#">
                                    <img src="/assets/client/Images/icon-share-pt-disable.png" osrc="/assets/client/Images/icon-share-pt-disable.png" usrc="/assets/client/Images/icon-share-pt.png" onmouseover="hoverx(this);" onmouseout="unhoverx(this);" />
                                </a>
                                <div class="atclear"></div>
                            </div>
                            <script src="/assets/client/js/addthis_widget.js"></script>
                        </div>
                        @{
                            var session = (UserLogin)Session[Web_ban_hang.Common.CommonConstants.USER_SESSION];
                            if (session != null)
                            {
                                <div class="button"><span><a href="/them-gio-hang?productId=@Model.SanPham.MaSP&quantity=1">Thêm vào giỏ</a></span></div>
                            }
                            else
                            {
                                <div class="button"><span><a href="/dang-nhap">Thêm vào giỏ</a></span></div>
                            }
                        }

                        <div class="clear"></div>
                    </div>

                </div>
                <!--AA-->
                <div class="clear"></div>
            </div>
            <div class="product_desc">
                <ul class="table-info-detail-prd">
                    @{
                        if (Model.SanPham.ID_BN != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.BoNho.Ten</span></li>
                        }
                        if (Model.SanPham.ID_BXL != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.BoXL.Ten</span></li>
                        }
                        if (Model.SanPham.ID_Camera != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.Camera.Ten</span></li>
                        }
                        if (Model.SanPham.ID_Card != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.Card.Ten</span></li>
                        }
                        if (Model.SanPham.ID_Case != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.Case.Ten</span></li>
                        }
                        if (Model.SanPham.ID_CL != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.ChatLieu.Ten</span></li>
                        }
                        if (Model.SanPham.ID_CN != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.ChoNgoi.Ten</span></li>
                        }
                        if (Model.SanPham.ID_Doi != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.DoiSX.Ten</span></li>
                        }
                        if (Model.SanPham.ID_DPG != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.DoPhangia.Ten</span></li>
                        }
                        if (Model.SanPham.IDHang != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.Hang.Ten</span></li>
                        }
                        if (Model.SanPham.ID_HDH != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.HeDieuHanh.Ten</span></li>
                        }
                        if (Model.SanPham.ID_HS != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.HopSo.Ten</span></li>
                        }
                        if (Model.SanPham.ID_KD != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.KieuDang.Ten</span></li>
                        }
                        if (Model.SanPham.ID_KT != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.KichThuoc.Ten</span></li>
                        }
                        if (Model.SanPham.ID_LTR != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.LoaiTR.Ten</span></li>
                        }
                        if (Model.SanPham.ID_M != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.Mua.Ten</span></li>
                        }
                        if (Model.SanPham.ID_Model != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.Model.Ten</span></li>
                        }
                        if (Model.SanPham.ID_MS != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.MauSac.Ten</span></li>
                        }
                        if (Model.SanPham.ID_PB != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.PhienBan.Ten</span></li>
                        }
                        if (Model.SanPham.ID_Pin != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.Pin.Ten</span></li>
                        }
                        if (Model.SanPham.ID_PK != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.PhuKien.Ten</span></li>
                        }
                        if (Model.SanPham.ID_QD != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.Quangduong.Ten</span></li>
                        }
                        if (Model.SanPham.ID_R != null)
                        {
                            <li><span class="tit">Loại sản phẩm</span><span class="cont">@Model.SanPham.Ram.Ten</span></li>
                        }
                    }

                </ul>
                <div class="intro-detail-prd">
                   @Model.SanPham.Mota
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });
            </script>           
        </div>
        <div class="rightsidebar span_3_of_1">
            <div class="categories">
                @{ Html.RenderAction("MenuSanPham", "Home");}
            </div>           
        </div>
    </div>
    <div class="content_bottom">
        <div class="heading">
            <h3>CÁC SẢN PHẨM LIÊN QUAN</h3>
        </div>
        <div class="see">
            <p><a href="#">Tất cả sản phẩm</a></p>
        </div>
        <div class="clear"></div>
    </div>
</div>
