@model Model.EF.PhienBan

@{
    ViewBag.Title = "PhienBan";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var phienBans = (List<Model.EF.PhienBan>)ViewBag.phienban;
}

@section header{
    Thêm người dùng
}

@using (Html.BeginForm("PhienBan", "Data", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PhienBan</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Ten_PB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ten_PB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ten_PB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLSP, "MaLSP", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLSP", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaLSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div class="row">

        <div class="col-lg-12">

            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <hr />

                <div class="panel-body">
                    <div class="col-md-5"> <h4>Danh sách dung lượng Ram</h4></div>
                    <div class="table-responsive col-5">
                        <table class="table table-striped table-bordered table-hover" id="dataphienban">
                            <thead>
                                <tr>

                                    <th>STT</th>
                                    <th>Dung lượng</th>
                                    <th>Loai sản phẩn</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in phienBans)
                                {
                                    <tr id="row_@item.ID_PB">
                                        <td>@item.ID_PB</td>
                                        <td>@item.Ten_PB</td>
                                        <td>@item.LoaiSanPham.TenLSP</td>
                                        <td>
                                            <a href="/Admin/User/Edit/@item.ID_PB">Sửa</a>
                                            |
                                            @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID_PB }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xoá bản ghi này?",
                                           OnComplete = "$('#row_" + @item.ID_PB + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>

                    </div>
                    <!-- /.table-responsive -->
                </div>

                <!-- /.panel-body -->
            </div>

        </div>
    </div>
