@model Model.EF.PhuKien

@{
    ViewBag.Title = "PhuKien";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var phuKiens = (List<Model.EF.PhuKien>)ViewBag.phukien;
}
@section header{
    Thêm người dùng
}
@section jsFooter{
    <script src="/assets/admin/js/controller/datacontroller.js"></script>
}
@using (Html.BeginForm("PhuKien", "Data", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLSP, "MaLSP", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("MaLSP", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaLSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-primary" />
                <input type="button" value="Sữa" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div class="row">

    <div class="col-lg-12">

        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <hr />

            <div class="panel-body">
                <div class="col-md-5"> <h4>Danh sách </h4></div>
                <div class="table-responsive ">
                    <table class="table table-striped table-bordered table-hover" id="dataphukiem">
                        <thead>
                            <tr>

                                <th>STT</th>
                                <th>Dung lượng</th>
                                <th>Loai sản phẩn</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in phuKiens)
                            {
                                <tr id="row_@item.ID_PK">
                                    <td>@item.ID_PK</td>
                                    <td>@item.Ten</td>
                                    <td id="@item.LoaiSanPham.MaLSP">@item.LoaiSanPham.TenLSP</td>
                                    <td>
                                        <a href="javascript:" id="suaid">Sửa</a>
                                        |
                                        @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID_PK }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.ID_PK + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>

                </div>
                <!-- /.table-responsive -->
            </div>

            <!-- /.panel-body -->
        </div>

    </div>
</div>
