@model List<Web_ban_hang.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script src="/assets/client/js/controller/cartController.js"></script>
}
<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table" id="datagioH">
                <thead>
                    <tr>
                        <td>Chọn</td>
                        <td>STT</td>
                        <td>Tên SP</td>
                        <td>Ảnh SP</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr id="@Model[i].sanpham.MaSP">
                            <td><input type="checkbox" id="check_@(i+1)" /></td>
                            <td>@(i+1)</td>
                            <td>@Model[i].sanpham.TenSP</td>
                            <td><img src="@Model[i].sanpham.AnhTDe" width="100" /></td>
                            <td><input type="text" class="txtQuantity" data-id="@Model[i].sanpham.MaSP" value="@Model[i].Quantity" /></td>
                            <td>@Model[i].sanpham.GiaBan.GetValueOrDefault(0).ToString("N0")</td>
                            <td>@((Model[i].sanpham.GiaBan.GetValueOrDefault(0) * Model[i].Quantity).ToString("N0"))</td>
                            <td><a href="#" data-id="@Model[i].sanpham.MaSP" class="btn-delete">Xoá</a></td>
                        </tr>
                    }
                    
                </tbody>
            </table>
            <div>
                <div class="menu">
                    <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
                    <button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>
                    <button id="btnDeleteAll" class="btn">Xoá giỏ hàng</button>
                    <button id="btnPayment" class="btn">Thanh toán</button>
                </div>                
                <div class="an"><b>Tổng tiền:</b> <span id="tong_tien" style="left:5px">0</span> <b style="left:5px"> Đồng</b> </div>
            </div>
            
        }
        else
        {
            <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
        }
    </div>
</div>
