@model Web_ban_hang.Models.NewModel

@{
    ViewBag.Title = "Đăng ban tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tinh = (List<Model.EF.Khuvuc>)ViewBag.Tinh;
}

@section jsFooter{
    <script src="/assets/client/js/controller/DangtinController.js"></script>
}
<div class="content">
    <div class="section group ">
        @using (Html.BeginForm("Dangtin", "Dangtin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="section group " id="dangtin">
                <div class="header_bottom_left">
                    <div class="nav" style="padding:10px">
                        <div class="dropdown">
                            <button class="dropdown-toggl btn btn-danger" data-toggle=dropdown id="bt-tinh">
                                <span id="tinh">Toàn quốc</span>
                                <span class="caret"></span>
                            </button>
                            <div class="an_top1">
                                @Html.TextBoxFor(model => model.MaKV, htmlAttributes: new { @id = "tinh1" })
                            </div>
                            <ul class=" dropdown-menu btn-toolbar menu-tinh" role="toolbar" id="id-ten-t">
                                @foreach (var item in tinh)
                                {
                                    <li class="btn-group" role="group"><a href="javascript:" id="City_@item.MaKV" style="padding:8px 15px;" rel="@item.MaKV">@item.TenKV</a></li>
                                }
                            </ul>

                        </div>
                    </div>
                    <div class="categories">
                        @{ Html.RenderAction("MenuSP", "User");}
                    </div>
                </div>
                <div class="header_bottom_right">
                    <div class="form-horizontal">
                        <h4>Đăng tin miễn phí</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.TieuDe, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.TieuDe, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Mota, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Mota, htmlAttributes: new { @class = "form-control textarea-nd" })
                                @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="group-form form-group">
                            <div class="col-md-10" style="left:10%">
                                <p class="title large">
                                    Hình ảnh sản phẩm
                                </p>
                                <p class="hint">Được phép đăng tối đa 6 ảnh, mỗi ảnh không quá 4Mb</p>
                                <div id="fileupload">
                                    <link href="/Assets/client/css/css.css" rel="stylesheet" />
                                    <script src="/assets/client/js/controller/dangtin.js"></script>
                                    <ul id="uploadimage" class="form-upload-image clearfix">
                                        <input id="InputUpload" name="InputUpload" type="hidden" value="" />
                                    </ul>
                                    <script>
                                        $("#uploadimage").upload({
                                            target: "InputUpload",
                                            maxFiles: 6
                                        });
                                    </script>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row" id="phantu">

                            </div>
                        </div>
                        <div class="form-group" style="display: none;">
                            @Html.TextBoxFor(model => model.MaLSP, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.IDHang, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_BN, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_BXL, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_Camera, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_Card, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_Case, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_CL, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_CN, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_HDH, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_DPG, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_Doi, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_HS, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_KD, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_KT, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_LTR, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_M, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_MS, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_PB, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_Pin, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_QD, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_PK, htmlAttributes: new { @class = "form-control-1" })
                            @Html.TextBoxFor(model => model.ID_R, htmlAttributes: new { @class = "form-control-1" })
                        </div>

                        <div class="form-group" style="left:2%">
                            @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class=" from-table">
                                @Html.TextBoxFor(model => model.GiaBan, htmlAttributes: new { @class = "form-control-1" })
                                <div class="gia">
                                    đ
                                </div>
                                @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @{ 

                            var user = (Model.EF.Taikhoan)ViewBag.user;
                            if (user != null)
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-2">Người đăng </label>
                                    <div class="col-md-5">
                                        <input name="shipName" class="form-control" value="@user.HovaTen" />
                                    </div>                    
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Điện thoại</label>
                                    <div class="col-md-5"> 
                                        <input name="mobile" class="form-control" value="@user.Phone" />
                                    </div>                                      
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Email</label>
                                    <div class="col-md-5">
                                         <input name="email" class="form-control" value="@user.Email" />
                                    </div>                                        
                                </div>
                            }
                       }
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Đăng tin" class="btn btn-default" />
                                        </div>
                                    </div>
                    </div>

                </div>
            </div>
        }
    </div>

    <style>
        #PostError .validation-summary-errors {
            color: #f09e29;
            font-size: 13px;
            margin-bottom: 15px;
        }

        .form-table.regis-getNews li .form-tit {
            width: 32%;
        }

        .form-table.regis-getNews li .form-cont {
            width: 68%;
        }
    </style>

</div>
<script type="text/javascript">
    $("#id-ten-t>li>a").on('click', function () {
        var val = $(this).html();
        $("#tinh").html(val);
        $("#tinh1").val($(this).attr('rel'));
    })
    $("#btnBackPost").on('click', function () {
        $(".review-news-box").css("display", "none");
        $("#dangtin").removeAttr('style');
    })
    $("#btnReview").on('click', function () {
        $("#dangtin").css("display", "none");
        $(".review-news-box").removeAttr('style');
    })
</script>