@model Model.EF.DangBT

@{
    ViewBag.Title = "Đăng ban tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tinh = (List<Model.EF.Khuvuc>)ViewBag.Tinh;
    var user = (UserLogin)Session[Web_ban_hang.Common.CommonConstants.USER_SESSION];
}

<div class="content">
    <div class="section group ">
        @using (Html.BeginForm("Dangtin", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="section group " id="dangtin">
                <div class="header_bottom_left">
                    <div class="nav" style="padding:10px">
                        <div class="dropdown">
                            <button class="dropdown-toggl btn btn-danger" data-toggle=dropdown id="bt-tinh">
                                <span id="tinh">Toàn quốc</span>
                                <span class="caret"></span>
                            </button>
                            <div class="an_top1">
                                @Html.TextBoxFor(model => model.MaKV, htmlAttributes: new { @id = "tinh1" })
                            </div>
                            <ul class=" dropdown-menu btn-toolbar menu-tinh" role="toolbar" id="id-ten-t">
                                @foreach (var item in tinh)
                                {
                                    <li class="btn-group" role="group"><a href="javascript:" id="City_@item.MaKV" style="padding:8px 15px;" rel="@item.MaKV">@item.TenKV</a></li>
                                }

                            </ul>

                        </div>
                    </div>
                    <div class="categories">
                        @{ Html.RenderAction("MenuSP", "User");}
                    </div>
                </div>
                <div class="header_bottom_right">
                    <div class="form-horizontal">
                        <h4>Đăng tin miễn phí</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.SanPham.TieuDe, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SanPham.TieuDe, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SanPham.TieuDe, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SanPham.Mota, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.SanPham.Mota, htmlAttributes: new { @class = "form-control textarea-nd" })
                                @Html.ValidationMessageFor(model => model.SanPham.Mota, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="group-form">
                            @Html.LabelFor(model => model.SanPham.HinhAnh.Link, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                <p class="title large">
                                    Hình ảnh sản phẩm
                                </p>
                                <p class="hint">Được phép đăng tối đa 6 ảnh, mỗi ảnh không quá 4Mb</p>
                                <div id="fileupload">
                                    <link href="/Assets/client/css/css.css" rel="stylesheet" />
                                    <script src="/assets/client/js/controller/dangtin.js"></script>
                                    <ul id="uploadimage" class="form-upload-image clearfix">
                                        <input id="InputUpload" name="InputUpload" type="hidden" value="" />
                                    </ul>
                                    <script>
                                        $("#uploadimage").upload({
                                            target: "InputUpload",
                                            maxFiles: 6
                                        });
                                    </script>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.IDHang, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.IDHang,null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.IDHang, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_BN, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_BN, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_BN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_BXL, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_BXL, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_BXL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_Camera, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_Camera, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_Camera, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_Card, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_Card, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_Card, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_Case, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_Case, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_Case, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_CL, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_CL, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_CL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_CN, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_CN, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_CN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_Doi, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_Doi, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_Doi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_DPG, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_DPG, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_DPG, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_HDH, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_HDH, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_HDH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_HS, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_HS, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_HS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_KD, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_KD, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_KD, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_KT, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_KT, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_KT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_LTR, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_LTR, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_LTR, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_M, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_M, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_M, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_MS, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_MS, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_MS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_PB, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_PB, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_PB, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_Pin, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_Pin, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_Pin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_PK, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_PK, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_PK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_QD, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_QD, null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_QD, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SanPham.ID_R, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class=" from-table">
                                        @Html.DropDownListFor(model => model.SanPham.ID_R,null, htmlAttributes: new { @class = "form-control-1" })
                                        @Html.ValidationMessageFor(model => model.SanPham.ID_R, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.SanPham.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class=" from-table">
                                @Html.TextBoxFor(model => model.SanPham.GiaBan, htmlAttributes: new { @class = "form-control-1" })
                                <div class="gia">
                                    đ
                                </div>
                                @Html.ValidationMessageFor(model => model.SanPham.GiaBan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Đăng tin" class="btn btn-default" />
                                <input id="btnReview" type="button" class="btn-df btnReview" rel="nofollow" value="Xem trước" />

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel review-news-box" style="display: none;">

                <div class="panel-header">
                    <h2 class="panel-title text-center text-uppercase">Xem trước tin đăng</h2>
                </div>

                <div class="panel-body">
                    <div class="preview-news">
                        <div class="product-details">
                            <div class="grid images_3_of_2">
                                <div id="container">
                                    <div id="products_example">
                                        <div id="products">
                                            <div class="slides_container">

                                            </div>
                                            <ul class="pagination"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="desc span_3_of_2 ">

                                <div class="row-info-prd price">
                                    <h5>Giá Bán:</h5>
                                    <p> <span>gia đ</span></p>
                                </div>

                                <div class="row-info-prd price">
                                    <p><span> </span></p>
                                </div>
                                <div class="share-desc">
                                    <div class="share">
                                        <p>Chia sẻ :</p>
                                        <ul>
                                            <li><a href="#"><img src="/Assets/client/images/facebook.png" alt="" /></a></li>
                                            <li><a href="#"><img src="/Assets/client/images/twitter.png" alt="" /></a></li>
                                        </ul>
                                    </div>
                                    <div class="button"><span><a href="#">Thêm vào giỏ</a></span></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="wish-list">
                                    <ul>
                                        <li class="wish"><a href="#">Thêm vào yêu thích</a></li>
                                        <li class="compare"><a href="#">So sánh</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Đăng tin" class="btn btn-default" />
                        <input id="btnBackPost" type="button" class="btn-df btnReview" rel="nofollow" value="Quay lại" />
                    </div>

                </div>

                <style>
                    .review-news-box {
                        width: 1150px !important;
                    }
                </style>

            </div>


        }
    </div>

    <style>
        #PostError .validation-summary-errors {
            color: #f09e29;
            font-size: 13px;
            margin-bottom: 15px;
        }

        .form-table.regis-getNews li .form-tit {
            width: 32%;
        }

        .form-table.regis-getNews li .form-cont {
            width: 68%;
        }
    </style>





</div>
<script type="text/javascript">
        //$(document).ready(function () {
        //    $("#anh").click(function () {
        //        var fileder = new CKFinder();
        //        fileder.selectActionFuntion = function (fileUrl) {
        //            $("#link").val(fileUrl)
        //        }
        //        fileder.popup();
        //    });
        // });

    $("#id-ten-t>li>a").on('click', function () {
        var val = $(this).html();
        $("#tinh").html(val);
        $("#tinh1").val($(this).attr('rel'));
    })
    $("#btnBackPost").on('click', function () {
        $(".review-news-box").css("display", "none");
        $("#dangtin").removeAttr('style');
    })
    $("#btnReview").on('click', function () {
        $("#dangtin").css("display", "none");
        $(".review-news-box").removeAttr('style');
    })
</script>

